/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  border-width: 0;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply leading-[normal] m-0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body:has(.modal-open) {
  overflow-y: hidden;
}

.review-text > p {
  @apply text-xl lg:text-11xl;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.blog-page .bg-light-grey h1,
.blog-page .bg-light-grey h2,
.blog-page .bg-light-grey h3,
.blog-page .bg-light-grey h4 {
  @apply text-project-100;
}
.blog-page .bg-light-grey {
  @apply text-project-200;
}
.blog-page h1 {
  @apply text-21xl lg:text-41xl font-semibold;
}
.blog-page h1 > p {
  @apply text-21xl lg:text-41xl font-semibold;
}
.blog-page h2 {
  @apply text-11xl lg:text-21xl font-semibold;
}
.blog-page h2 > em {
  @apply text-5xl lg:text-11xl font-semibold;
}
/* h3{
  @apply text-xl lg:text-11xl font-semibold;
} */
.blog-page h4 {
  @apply text-md lg:text-lg font-semibold;
}
